@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$yellow-palette,
        tertiary: mat.$spring-green-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
